<a href="https://colab.research.google.com/github/ANanade/deep_learning/blob/master/artificial_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Neural Network

### Importing the libraries

In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [3]:
tf.__version__

'2.2.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [4]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [5]:
dataset

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [6]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [7]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [9]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [11]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [14]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

add()method of sequential class, 
parameters of add-- adding hidden layers
fully connected object is in Dense class
which is in Keras lib in Layers
Dense(units= No of neuron in hidden layers, activation = funtions)

In [15]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

adding second hidden layers

In [16]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [17]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

activations is sigmod because we are gettingprediction in probabilities as well as percentages

for non binary classification function should be soft_max

## Part 3 - Training the ANN

### Compiling the ANN

adam= stochastic gradident 
loss = loss function
binary---> binary_crossentrop
categorial---> categorical_crossentropy

metrics- -- evaluation metric which you want

In [18]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [19]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5053 - accuracy: 0.7944
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4466 - accuracy: 0.8033
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4349 - accuracy: 0.8080
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4293 - accuracy: 0.8115
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4251 - accuracy: 0.8154
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4220 - accuracy: 0.8163
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4186 - accuracy: 0.8189
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4150 - accuracy: 0.8207
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4114 - accuracy: 0.8220
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4075 - accuracy: 0.8242
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4027 - accuracy: 0.8269
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3974 - accuracy: 0.8285
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3918 - accuracy: 0.8275
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3860 - accuracy: 0.8319
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3808 - accuracy: 0.8371
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3756 - accuracy: 0.8399
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3706 - accuracy: 0.8461
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3656 - accuracy: 0.8471
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3609 - accuracy: 0.8508
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3567 - accuracy: 0.8533
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3543 - accuracy: 0.8539
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3516 - accuracy: 0.8560
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3506 - accuracy: 0.8576
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3494 - accuracy: 0.8566
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3485 - accuracy: 0.8558
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3477 - accuracy: 0.8591
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3473 - accuracy: 0.8571
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3473 - accuracy: 0.8575
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3466 - accuracy: 0.8569
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3458 - accuracy: 0.8571
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3460 - accuracy: 0.8583
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3456 - accuracy: 0.8600
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3448 - accuracy: 0.8586
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3453 - accuracy: 0.8597
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3445 - accuracy: 0.8602
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3443 - accuracy: 0.8596
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3435 - accuracy: 0.8604
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3438 - accuracy: 0.8600
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8605
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8610
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.8615
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.8605
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8606
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8610
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8612
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8600
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3416 - accuracy: 0.8614
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8610
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8615
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8612
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8612
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8612
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8619
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8610
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8618
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8600
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8615
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8624
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8621
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.8629
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8616
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8618
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8611
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8630
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8615
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8629
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8624
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8611
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8619
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8625
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8626
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8626
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8629
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8627
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8620
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8629
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8612
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8637
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8634
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8631
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8614
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8609
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8612
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8614
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8616
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8611
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8625
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8618
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8643
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8620
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8629
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8631
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8611
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8612
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8624
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8618
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8633
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8622
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8616
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8622

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer?

**Solution**

In [21]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))

[[0.02401563]]

In [20]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [22]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [23]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1527   68]
 [ 212  193]]

0.86